@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&');
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    cursor: pointer;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

a {
    color: #337ab7;
    cursor: pointer;
    text-decoration: none !important;
}

.container {
    margin: auto;
}

p {
    margin: 0 0 10px;
}

.navbargap {
    padding-top: 100px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.card a {
    color: black;
}

.pointer {
    cursor: pointer;
}


/* Start Landing Page */

.shadow-lg {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02) !important;
}


/* Start Footer */

.card-list {
    /*
	display: block;
	width: 100%;
	float: right;
	margin: 0;
	min-height: 1vh;
	white-space: normal;
	overflow-x: scroll;
	*/
    overflow-x: hidden;
    white-space: nowrap;
}

.logo {
    font-size: 28px;
    font-weight: bolder;
    transition: all 300ms cubic-bezier(0.22, 0.61, 0.36, 1)
}

@media screen and (max-width:768px) {
    .logo {
        font-size: 16px !important;
        font-weight: bolder;
    }
}

@media (max-width:768px) {
    .card-list {
        overflow-x: scroll;
    }
}


/* Start Card */

.date {
    font-size: 11px;
    font-weight: 600;
    color: grey;
}

.body-content {
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
    font-size: 13px;
    line-height: 1.8;
}

.button-primary {
    border: none;
    font-family: inherit;
    background-color: transparent;
    color: #341cac;
    font-size: 15px;
    transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.button-primary i {
    padding-right: 4px;
}

.designer-link {
    color: #fff;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

.header {
    display: block;
    padding: 30px;
}

.title-content {
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

@media (min-width:768px) {
    .title-content {
        width: auto;
        text-align: left;
    }
}

.footer {
    /* width: 100%; */
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: black;
}

.footer a i {
    letter-spacing: 1rem;
}

.footer p {
    margin-top: 1rem;
}

.copyright-text {
    font-size: 70%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}


/*formulaire*/

.containerFormulaire {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
    padding: 5rem !important;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
}

@media (max-width:768px) {
    .containerFormulaire {
        width: 90%;
        padding: 1.5rem !important;
    }
}

textarea {
    resize: none;
}

textarea .form-control {
    height: 100px !important;
}

.form-control {
    padding-top: 40px;
    border-radius: 0;
    border-color: #ccc;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: transparent;
    background-image: none;
    transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.form-control:focus {
    border-color: #5e9bfc;
    outline: none;
}

.js-hide-label {
    opacity: 0;
}

.js-unhighlight-label {
    color: #999
}

.btn-start-order {
    background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}

.btn-start-order:hover,
.btn-start-order:active,
.btn-start-order:focus {
    border-color: #5e9bfc;
    color: #5e9bfc;
}

.envoie {
    margin-bottom: 50px;
    margin-top: 10px;
}

.fade-enter-active {
    transition: opacity 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.navbar .fade-enter-active {
    transition: opacity none;
}

.navbar a .fade-enter-active {
    transition: opacity none;
}

.fade-enter,
.fade-leave-to,
.fade-leave-active {
    opacity: 0;
}


/* News */

.news-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
    background: #fff;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.news__body {
    padding-top: 1rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
}

@media (max-width:768px) {
    .news-container {
        max-width: 90%;
    }
    .news__body {
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
}

.header__thumbnail {
    width: 100%;
    -o-object-fit: fill;
    object-fit: fill;
}

.body__heading {
    margin-bottom: 0.5rem;
    font-size: 1.3125rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #141414;
}

.body__meta {
    display: inline-block;
    margin-bottom: .728rem;
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(20, 20, 20, 0.4);
}

.body__text {
    margin-top: 0;
    margin-bottom: 1.2rem;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.015625rem;
    color: rgba(20, 20, 20, 0.85);
}

.news__footer {
    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    text-align: center;
}

.news__header {}

#main {
    position: relative;
    text-align: center;
}

.fof {
    display: table-cell;
    vertical-align: middle;
}

.fof h1 {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .45s alternate infinite;
}

@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px #888;
    }
    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}

.card {
    margin: 3rem auto;
}

textarea {
    resize: none !important;
}

.p-20p {
    padding: 35%;
    padding-top: 39px;
    -webkit-filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
}

.i-33p {
    padding-top: 33px;
}

.certifimg {
    min-width: 5%;
}

@media (max-width:768px) {
    .p-20p {
        display: none !important;
    }
    .certif {
        text-align: center;
    }
}

.shaar {
    padding: 0px !important;
}

.cover {
    object-fit: contain !important;
}

.limt {
    height: 30rem;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30rem;
}

.machine {
    min-width: 6rem;
    max-height: 6rem;
    height: 6rem;
    overflow: hidden;
}

.image.is-full {
    height: 100%;
    width: 100%;
}

.vimg {
    vertical-align: middle;
}

img {
    pointer-events: none;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.container-iframe {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.container-carousel {
    width: 1000px !important;
    height: 560px !important;
    vertical-align: middle;
    /* 16:9 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.machineimg {
    min-width: 15rem;
    max-height: 15rem;
    height: 15rem;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}

.marbtm {
    margin-bottom: 0px !important;
}

.min400 {
    min-height: 350px;
}

.min600 {
    min-height: 500px;
}

.bold {
    font-size: 24px;
    font-weight: 500;
}

.min128 {
    max-width: 128px !important;
    max-height: 128px !important;
    padding: 0vh !important;
}


/* Vidal MP */

.hero .is-vidalmp {
    background-color: #283593;
    color: white;
}

.hero.is-vidalmp.is-bold {
    background-image: linear-gradient(141deg, #00008B 0, #283593 71%, #153949 100%);
    color: white !important;
}

.hero.is-vidalmp .title {
    color: #fff;
}

.hero.is-vidalmp .subtitle {
    color: #fff;
}

.notification.is-vidalmp {
    background-color: #283593;
    color: #fff;
}

.button.is-vidalmp {
    -ms-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in;
    background-color: #283593;
    border-color: transparent;
    color: #fff;
}

.button.is-vidalmp:hover {
    background-color: #002773;
    border-color: transparent;
    color: #fff;
}

.button.is-vidalmp:focus {
    background-color: #002773;
    border-color: transparent;
    color: #fff;
}

.hero.is-vidalmp {
    background-color: #283593;
    color: #fff;
}

.box .is-ccmpi {
    border-color: #283593 !important;
}


/* Bettega */

.hero .is-bettega {
    background-color: #00A9FF;
    color: white;
}

.hero.is-bettega.is-bold {
    background-image: linear-gradient(141deg, #50c5ff 0, #00A9FF 10%, #006da3 100%);
    color: white !important;
}

.hero.is-bettega .title {
    color: #fff;
}

.hero.is-bettega .subtitle {
    color: #fff;
}

.notification.is-bettega {
    background-color: #00A9FF;
    color: #fff;
}

.button.is-bettega {
    -ms-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in;
    background-color: #00A9FF;
    border-color: transparent;
    color: #fff;
}

.button.is-bettega:hover {
    background-color: #002773;
    border-color: transparent;
    color: #fff;
}

.button.is-bettega:focus {
    background-color: #002773;
    border-color: transparent;
    color: #fff;
}

.hero.is-bettega {
    background-color: #00A9FF;
    color: #fff;
}


/* ccmpi */

.hero .is-ccmpi {
    background-color: #FF6402;
    color: white;
}

.hero.is-ccmpi.is-bold {
    background-image: linear-gradient(141deg, #ff8032 0, #FF6402 10%, #ac4201 100%);
    color: white !important;
}

.hero.is-ccmpi .title {
    color: #fff;
}

.hero.is-ccmpi .subtitle {
    color: #fff;
}

.notification.is-ccmpi {
    background-color: #00A9FF;
    color: #fff;
}

.button.is-ccmpi {
    -ms-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in;
    background-color: #FF6402;
    border-color: transparent;
    color: #fff;
}

.button.is-ccmpi:hover {
    background-color: #FF6402;
    border-color: transparent;
    color: #fff;
}

.button.is-ccmpi:focus {
    background-color: #FF6402;
    border-color: transparent;
    color: #fff;
}

.hero.is-ccmpi {
    background-color: #FF6402;
    color: #fff;
}