@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-right: 1%;
    padding-left: 1%;
    margin: auto;
}

/* Start Landing Page */

.landing-page {
    position: relative;
    background-color: #F5F5F5;
}

.landing-page .header-area {
    display: flex;
    padding: 2% 0 0;
    position: relative;
}

.landing-page .header-area .logo {
    text-transform: uppercase;
    font-style: none;
    font-size: 30px;
    width: 25%;
    color: #5d5d5d;
    margin-left: 2%;
    font-family: 'Roboto', sans-serif;+

}

.landing-page .header-area .links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

.landing-page .header-area .links li {
    display: inline-block;
    margin-left: 2.5%;
    color: #5d5d5d;
    cursor: pointer;
}

.landing-page .header-area .links .active {
	box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
    border: 0;
    border-radius: 20px;
    padding: 1% 2%;
    color: #FFF;
    background-color: #FBBC05;
}

.landing-page .info {
    width: 35%;
    float: left;
    margin-top: 7%;
}

.landing-page .info h1 {
    font-size: 44px;
    margin: 0 0 3%;
    line-height: 1.4;
    color: #5d5d5d;
}

.landing-page .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
}

.landing-page .info button {
    border: 0;
    border-radius: 200px;
    padding: 2.50% 5% ;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #FBBC05;
}

.landing-page .image {
    width: 50%;
    float: right;
    margin-top: 35px;
}

.landing-page .image img {
    max-width: 100%;
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}

/* End Landing Page */